<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>YAXItems</key>
		<array>
			<dict>
				<key>YAXTitleIconImageView</key>
				<string>titleIcon</string>
				<key>YAXTitle</key>
				<string>个人头像</string>
				<key>YAXIcon</key>
				<string>MorePush</string>
				<key>YAXAccessoryType</key>
				<string>UIImageView</string>
				<key>YAXAccessoryName</key>
				<string>icon_next</string>
				<key>YAXTargetVc</key>
				<string></string>
				<key>YAXPlistName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>YAXItems</key>
		<array>
			<dict>
				<key>YAXTitle</key>
				<string>身份信息</string>
				<key>YAXIcon</key>
				<string>MorePush</string>
				<key>YAXAccessoryType</key>
				<string>UIImageView</string>
				<key>YAXAccessoryName</key>
				<string>icon_next</string>
				<key>YAXTargetVc</key>
				<string></string>
				<key>YAXPlistName</key>
				<string></string>
			</dict>
			<dict>
				<key>YAXContent</key>
				<string></string>
				<key>YAXContentType</key>
				<string>UILabel</string>
				<key>YAXTitle</key>
				<string>紧急联系人</string>
				<key>YAXIcon</key>
				<string>MorePush</string>
				<key>YAXAccessoryType</key>
				<string>UIImageView</string>
				<key>YAXAccessoryName</key>
				<string>icon_next</string>
				<key>YAXTargetVc</key>
				<string></string>
				<key>YAXPlistName</key>
				<string></string>
			</dict>
			<dict>
				<key>YAXTitle</key>
				<string>手机</string>
				<key>YAXIcon</key>
				<string>sound_Effect</string>
				<key>YAXAccessoryType</key>
				<string>UIImageView</string>
				<key>YAXAccessoryName</key>
				<string>icon_next</string>
				<key>YAXSwitchKey</key>
				<string>sound_Effect</string>
			</dict>
			<dict>
				<key>YAXTitle</key>
				<string>银行卡</string>
				<key>YAXIcon</key>
				<string>sound_Effect</string>
				<key>YAXAccessoryType</key>
				<string>UIImageView</string>
				<key>YAXAccessoryName</key>
				<string>icon_next</string>
				<key>YAXSwitchKey</key>
				<string>sound_Effect</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>YAXItems</key>
		<array>
			<dict>
				<key>YAXTitle</key>
				<string>电子签名</string>
				<key>YAXIcon</key>
				<string>MorePush</string>
				<key>YAXAccessoryType</key>
				<string>UIImageView</string>
				<key>YAXAccessoryName</key>
				<string>icon_next</string>
				<key>YAXTargetVc</key>
				<string></string>
				<key>YAXPlistName</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
