<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>YAXItems</key>
		<array>
			<dict>
				<key>YAXTitleIconImageView</key>
				<string>titleIcon</string>
				<key>YAXTitle</key>
				<string>招商银行</string>
				<key>YAXIcon</key>
				<string>MorePush</string>
				<key>YAXAccessoryType</key>
				<string>UIImageView</string>
				<key>YAXAccessoryName</key>
				<string>icon_next</string>
				<key>YAXTargetVc</key>
				<string></string>
				<key>YAXPlistName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>YAXItems</key>
		<array>
			<dict>
				<key>YAXTitle</key>
				<string>优惠券</string>
				<key>YAXIcon</key>
				<string>MorePush</string>
				<key>YAXAccessoryType</key>
				<string>UIImageView</string>
				<key>YAXAccessoryName</key>
				<string>icon_next</string>
				<key>YAXTargetVc</key>
				<string></string>
				<key>YAXPlistName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>YAXItems</key>
		<array>
			<dict>
				<key>YAXTitle</key>
				<string>预计还款时间</string>
				<key>YAXIcon</key>
				<string>MorePush</string>
				<key>YAXAccessoryType</key>
				<string></string>
				<key>YAXAccessoryName</key>
				<string></string>
				<key>YAXTargetVc</key>
				<string></string>
				<key>YAXPlistName</key>
				<string></string>
			</dict>
			<dict>
				<key>YAXTitle</key>
				<string>到账金额</string>
				<key>YAXIcon</key>
				<string>MorePush</string>
				<key>YAXAccessoryType</key>
				<string></string>
				<key>YAXAccessoryName</key>
				<string></string>
				<key>YAXTargetVc</key>
				<string></string>
				<key>YAXPlistName</key>
				<string></string>
			</dict>
			<dict>
				<key>YAXTitle</key>
				<string>手续费用</string>
				<key>YAXIcon</key>
				<string>MorePush</string>
				<key>YAXAccessoryType</key>
				<string></string>
				<key>YAXAccessoryName</key>
				<string></string>
				<key>YAXTargetVc</key>
				<string></string>
				<key>YAXPlistName</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
